body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    font-weight: bold;
}

header {
   background-color: #1f2937;
   color: white;
   padding: 20px;
}

footer {
    background-color: #1f2937;
    color: white;
    height: 50px;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   /* padding: 0 100px; */  
   padding-bottom: 50px; 
}

.navi {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: small;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
}

.banner-content {
    width: 300px;
}

.banner-header {
    font-size: 40px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.banner-content {
    font-size: 14px;
    color: lightgray;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    display: flex;
    flex: 1 0 auto;
}

