body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    font-weight: bold;
}

header {
   background-color: #1f2937;
   color: white;
   padding: 20px;
   display: flex;
   flex-direction: column;
   
}

footer {
    background-color: #1f2937;
    color: white;
    height: 50px;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   /* padding: 0 100px; */  
   padding-bottom: 50px; 
}

.navi {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: small;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
}

.banner-content {
    width: 300px;
}

.banner-header {
    font-size: 40px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.banner-content {
    font-size: 14px;
    color: lightgray;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    display: flex;
   /* flex: 1 0 auto;*/
}

.button-2 {
    padding: 6px;
    border-radius: 8px;
    font-size: 14px;
    background: royalblue;
    border: 1px solid white;
    color: white;
    display: flex;
    flex: 0 0 auto;
    height: 32px;
}

.header-a {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    padding: 32px;
}

.container-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 46px 2px;
    gap: 32px;
}

.container-b {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 200px;
}

.container-c {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.sign-up {
    background-color: royalblue;
    padding: 16px;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: column;
}

.sign-header {
    font-weight: bolder;
    padding-bottom: 8px;
}

.sign-body {
    font-size: 14px;
}

.quote {
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    width: 400px;
    padding-bottom: 8px;
    text-align: start;
}

.author {
    font-weight: bold;
    font-size: 14px;
    width: 400px;
    text-align: end;
}

.pic {
    width: 250px;
    height: 150px;
    border-radius: 8px;
}

.text {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

